.carrossel-imagem {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.carrossel-titulo {
    font-family: 'Pacifico', cursive;
}

.titulo {
    font-family: 'Pacifico', cursive;
    color: darkred;
}

.card-receita {
    max-width: 18rem;
    border-color: darkred;
}

.card-receita-imagem {
    object-fit: cover;
    height: 200px;
}

.card-receita-botao {
    background-color: darkred;
    color: white;
}